@import url('https://fonts.googleapis.com/css?family=Lato');

body{
  margin: 0px;
  padding: 0px;
  background: black;
}
.main-home{
  float: left;
  padding: 10px 0px;
}
.main-menu-home{
  float: left;
}
.main-menu-home ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.main-menu-home ul li{
  float: left;
  font-family: 'Lato', sans-serif;
  color: #fff;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
}
.menu-activated{
  color: #000 !important;
  background: #fff !important;
}
.main-menu-home ul li:hover{
  background: #fff;
  color: #000;
}
.search-box{
  float: left;
  position: relative;
}
.search-box .input-text-search{
  height: auto;
  float: left;
  margin-top: 3px;
  margin-bottom: 0px;
  padding: 5px;
  border: 1px solid #777;
  font-family: 'Lato', sans-serif;
  color: #000;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  padding-left: 30px;
}
.search-icon{
  position: absolute;
  left: 5px;
  top: 10px;
}
.cancel-icon{
  position: absolute;
  right: 5px;
  top: 10px;
}
.search-box .input-radio-search{
  display: inline-block;
  color: #fff;
}
.search-box label{
  display: inline-block;
  margin-top: 5px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.main-home-list-calls{
  float: left;
  background: #fff;
  border-radius: 5px;
}
.header-list-calls{
  float: left;
  padding: 10px;
  border-bottom: 1px solid #bf131f;
}
.header-list-calls h4{
  float: left;
  margin: 0px;
  color: #bf131f;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.menu-main-list-calls{
  float: right;
}
.menu-main-list-calls ul{
  width: 100%;
  float: left;
  text-align: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.menu-main-list-calls ul li{
  float: left;
  color: #555;
  font-weight: bold;
  border-right: 1px solid #555;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  padding: 6px 8px;
}
.menu-main-list-calls ul li:hover{
  color: #bf131f;
  border-right: 1px solid #bf131f;
  cursor: pointer;
}
.menu-main-list-calls ul li:last-child{
  border: none;
}
.table-list-main-calls{
  float: left;
}
.table-head-ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.table-head-li{
  width: 100%;
  float: left;
  background: #444;
}
.table-labels-head{
  width: 100%;
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.table-labels-head li{
  width: 11%;
  text-align: center;
  float: left;
  color: #fff;
  font-family: 'Lato', sans-serif;
  padding: 0.625em 0.5em;
}

.table-content-ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.table-content-li{
  width: 100%;
  float: left;
  border-bottom: 1px solid #444;
}
.table-content-li:last-child{
  border: none;
  border-radius: 5px;
}
.table-content-li:hover{
  background: #e0e0e0;
  cursor: pointer;
}
.table-labels-content{
  width: 100%;
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.table-labels-content li{
  width: 11%;
  text-align: center;
  float: left;
  position: relative;
  color: #555;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding: 0.625em 0.5em;
}
.confirmed-label{
  color: #0a6d2f !important;
  font-size: 14px !important;
  font-weight: bold !important;
}
.canceled-label{
  color: #bf131f !important;
  font-size: 14px !important;
  font-weight: bold !important;
}
.paused-label{
  color: #ffae00 !important;
  font-size: 14px !important;
  font-weight: bold;
}
.table-labels-content li input{
  position: absolute;
  top: 12px;
  display: inline-block;
  margin: 0px;
}
.table-labels-content li img{
  margin-right: 10px;
  display: inline-block;
}
.text-left{
  text-align: left !important;
}


.header-main{
  border-bottom: 1px solid #bf131f;
}
.header-home-content{
  float: left;
  padding: 10px 0px;
  text-align: center;
}
.logo-project{
  float: left;
  margin-top: 5px;
}
.logo-project b{
  color: #fff;
  background: #bf131f;
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  border-radius: 5px;
}
.logo-project span{
  font-family: 'Lato', sans-serif;
  color: #bf131f;
  font-size: 20px;
}
.title-home{
  color: #fff;
  display: inline-block;
  margin-top: 3px;
  font-size: 20px;
}
.title-home .continue-name{
  font-family: 'Lato', sans-serif;
  float: left;
}
.identify-client{
  font-family: 'Lato', sans-serif;
  color: #fff;
  float: right;
  font-size: 12px;
  margin-top: 12px;
}
.identify-client a{
  font-family: 'Lato', sans-serif;
  background: #bf131f;
  color: #fff;
  text-decoration: none;
  padding: 3px;
  border-radius: 5px;
  margin-left: 10px;
}
.identify-client a:hover{
  color: #ccc;
  cursor: pointer;
}
.main-content{
  float: left;
  padding: 14px 0px;
}
.sidebar{
  float: left;
  background: #bf131f;
  text-align: left;
  border-radius: 5px;
  padding: 10px 0px;
}
.sidebar h5{
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 0px 10px;
}
.list-minify-calls{
  float: left;
}
.list-minify-calls ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.list-minify-calls ul li{
  width: 100%;
  float: left;
  color: #fff;
  text-align: left;
  font-family: 'Lato', sans-serif;
  padding: 4px 10px;
  font-size: 13px;
}
.list-minify-calls ul li:hover{
  color: #ccc;
  cursor: pointer;
}
.list-minify-calls ul li:nth-child(odd){
  background: #330000 !important;
}
.sidebar span{
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 13px;
  display: inline-block;
  margin-top: 15px;
}
.queue-main{
  float: left;
  padding: 0px 25px;
}
.queue-content{
  float: left;
  border: 1px solid #343434;
  border-radius: 3px;
}
.header-queue-content{
  width: 100%;
  float: left;
  padding: 10px;
  border-bottom: 1px solid #343434;
}
.header-queue-content h5{
  float: left;
  color: #fff;
  font-family: 'Lato', sans-serif;
  margin-bottom: -1px;
}
.search-call{
  float: right;
}
.list-calls-status{
  float: left;
}
.list-calls-status ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.list-calls-status ul li{
  width: 100%;
  float: left;
  border-bottom: 1px solid #343434;
  background: #efefef;
}
.list-calls-status ul li a{
  width: 100%;
  float: left;
  padding: 10px;
  color: #fff;
  font-family: 'Lato', sans-serif;
}
.list-calls-status ul li:nth-child(odd){
  background: #8a8a8a;
}
.list-calls-status ul li:nth-child(even){
  background: #777;
}
.number-name-call{
  float: left;
  clear: both;
}
.list-calls-status ul li a span{
  float: left;
  clear: both;
  font-size: 14px;
  border-radius: 3px;
  padding: 3px;
}
.paused-status{
  background: #ffae00;
}
.confimed-status{
  background: #0a6d2f;
}
.cancelled-status{
  background: #bf131f;
}
.time-call{
  float: right;
}
.all-status-calls{
  float: right;
  border: 1px solid #343434;
  border-radius: 3px;
}
.all-status-calls h5{
  width: 100%;
  float: left;
  padding: 10px;
  color: #fff;
  border-bottom: 1px solid #343434;
  font-family: 'Lato', sans-serif;
  margin-bottom: -1px;
}
.list-all-status-calls{
  width: 100%;
  float: left;
}
.list-all-status-calls ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.list-all-status-calls ul li{
  width: 100%;
  float: left;
  padding: 10px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  border-bottom: 1px solid #343434;
  font-size: 15px;
}
.list-all-status-calls ul li:hover{
  background: #fff;
  color: #000;
  cursor: pointer;
}
.list-all-status-calls ul li:last-child{
  border-bottom-radius: 5px;
}
.list-all-status-calls ul li span{
  float: right;
}

.main-form-edit-call{
  float: left;
}
.content-form-edit-call{
  float: left;
  min-height: 300px;
  position: relative;
  padding: 6px;
}
.main-form-edit-call h5{
  width: 100%;
  border-bottom: 1px solid #bf131f;
  color: #bf131f;
  float: left;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}
.main-forms-blocks{
  float: left;
  padding-top: 15px;
}
.main-forms-blocks ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.main-forms-blocks ul li{
  width: 100%;
  float: left;
}
.main-forms-blocks label{
  font-family: 'Lato', sans-serif;
  float: left;
  color: #444;
  font-weight: bold;
}
.main-forms-blocks input{
  width: auto;
  height: auto;
  float: left;
  outline: none;
  box-shadow: none;
  padding:3px;
  font-family: 'Lato', sans-serif;
  color: #444;
  border: 1px solid #bf131f !important;
}

.main-forms-blocks select{
  width: 31%;
  height: auto;
  float: left;
  outline: none;
  box-shadow: none;
  padding:3px;
  font-family: 'Lato', sans-serif;
  color: #444;
  border: 1px solid #bf131f !important;
}

.block-codecs-main{
  float: left;
  position: relative;
  text-align: center;
}
.block-codecs-main img{
  position: absolute;
  top: 45%;
}
.right-arrow{
  left: 77%;
}
.left-arrow{
  right: 75px;
}
.box-choose-options-codecs{
  width: 50%;
  float: left;
  clear: both;
  border: 1px solid #bf131f;
}
.box-choose-options-codecs ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.box-choose-options-codecs ul li{
  width: 100%;
  float: left;
  text-align: left;
  padding: 3px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}
.box-choose-options-codecs ul li:active{
  background: #ccc;
}

.box-chat-main{
  position: fixed;
  right: 0px;
  bottom: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #E97616;
  cursor: pointer;
}
.box-chat-main span{
  float: left;
  padding: 5px 25px;
}
.img-bubble-chat{
  height: 100%;
  float: left;
  padding: 5px;
  border-top-left-radius: 5px;
  background: #d96900;
}
.img-bubble-chat img{

}
